@value constants: '~styles/constants.module.css';
@value sidebarWidth, headerHeight, bodyMinWidth from constants;

.root {
  width: 100%;
  min-width: bodyMinWidth;
  height: headerHeight;
  background-color: #ec4141;
  position: fixed;
  top: 0;
  display: flex;
  z-index: 10;
}

.actions {
  width: sidebarWidth;
  height: 100%;
  position: relative;
}

.backForward {
  display: flex;
  position: absolute;
  bottom: 15px;
  right: 10px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    border-radius: 50%;
    color: #383838;
  }

  div:hover {
    background-color: rgba(232, 232, 232, 0.6);
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - sidebarWidth);
  padding: 0 20px;
}

.operations {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
