@value colors: '~styles/colors.module.css';
@value grey, black from colors;

.root {
  display: flex;
  align-items: center;
}

.item {
  margin-right: 1em;
  cursor: pointer;
  color: rgb(172, 172, 172);

  &:hover {
    color: white;
  }
}

.active {
  color: white;
}
